@import 'reset.css';

html,
body {
  min-height: 100%;
}

body {
  height: 3000px;
  background: linear-gradient(to bottom, #001533 50%, #7fc0ef 75%);
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0;
}
