@import 'constants.scss';
@import 'reset.css';

html,
body {
  min-height: 100%;
}

body {
  height: 3000px;
  background: var(--bg-color);
  font-family: 'Open Sans', sans-serif;
  color: var(--contrast-color);
}

p {
  margin: 0;
}
