.button {
  color: rgba(255, 255, 255, 0.2);
  display: block;
  //border: 1px solid transparent;
  //border-bottom-color: white;
  padding: 10px 30px;
  transition: border 0.25s;

  &:hover,
  &:focus {
    color: white;
  }
}
