.button {
  color: white;
  border: 1px solid transparent;
  border-bottom-color: white;
  padding: 10px 30px;
  transition: border 0.25s;

  &:hover {
    border-color: white;
    cursor: pointer;
  }
}
