.tab {
  display: block;
  color: rgba(255, 255, 255, 0.2);
  font-size: 24px;
  font-weight: 300;
  position: relative;
  transition: border 0.25s;
  padding: 30px 50px;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.selected {
  color: white;
}
