@import 'src/assets/style/constants';

.tabs {
  position: relative;
  margin-top: 100px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.content {
  margin-top: 150px;
}
