@import 'src/assets/style/constants';

.tabs {
  position: relative;
  margin-top: 100px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.content {
  margin-top: 150px;
}
