@import 'src/assets/style/constants';

.tabs {
  position: absolute;
  max-width: $contentWidth;
  width: 100%;
  margin-top: 150px;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.content {
  margin-top: 150px;
}
