.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 300px 20px 20px;
}

.text {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: white;
  margin-top: 50px;

  p:last-child {
    margin-top: 20px;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  & > div:not(:first-child) {
    margin-left: 150px;
  }
}
