@import 'src/assets/style/constants';

.logo {
  width: 239px;
  height: 59px;
}

.orange {
  fill: var(--orange);
  stroke: var(--contrast-color);
  stroke-width: 0.56;
}

.white {
  fill: var(--contrast-color);
}
